.container, .list, .image, h2, .button, .socialNetwork {
    position: absolute;
}
.container {
    text-transform: uppercase;
    letter-spacing: 0.8rem;
    height: 100vh;
    width: 100%;
}
.list {
    font-size: 1rem;
    letter-spacing: 0.8rem;
    font-family: "Lato", sans-serif;
    text-align: left;  
    bottom: 26%;
    left: 3%;  
}
ul {
    padding: 0;
}
.list li{
    list-style-type: none;
    padding: 0.6rem;
    border-top: 0.02px solid gray;
    border-bottom: 0.02px solid gray;
    color: var(--MainAqua);
    letter-spacing: 0.8rem;    
}
li:hover {
    color: var(--MainWhite);
}
.image {
    top: 5%;
    left: 10%;
}
h2 {
    letter-spacing: 0.8rem; 
    top: 35%; 
    left: 4%;   
}
h2:hover {
    color: var(--MainRed);
    transition: all 0.5s linear; 
}
.button {
    bottom: 15%;
    border: 1px solid var(--MainWhite);
    text-transform: capitalize;
    letter-spacing: 0.6rem;
    padding: 1.1rem;
    transition: all 0.5s linear; 
    width: 87%;
    display: flex;
}
span {
    padding-right: 15px;   
}
.button:hover{
    background: var(--MainAqua);
    color: var(--MainBlack);
    font-weight: 900;
    border-radius: 5px;
}
.socialNetwork{
    bottom: 5%;
}
.socialNetwork li {
    display: inline;
    letter-spacing: 1.3rem; 
    font-size: 1.2rem; 
    color: var(--MainAqua);
    position: relative;
}
.socialNetwork li:hover {
    color: var(--MainRed);
}