:root {
  --MainBlack: #000;
  --MainWhite: #fff;
  --MainAqua: aqua;
  --MainRed: red;
}

body {
  font-family: 'Neucha', sans-serif!important;
}
.mainPage {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
   "navbar slider"
   "navbar productList"
   ".      productList"
}
.navbar {
  grid-area: navbar;
  background:var(--MainBlack);
  color: var(--MainWhite);
  height: 95vh;
    
}
.slider{
  grid-area: slider;
  
  height: 75vh;
}
.productList{
  grid-area: productList;
  background: green;
}
