:root {
  --MainBlack: #000;
  --MainWhite: #fff;
  --MainAqua: aqua;
  --MainRed: red;
}
body {
  font-family: 'Neucha', sans-serif!important;
  box-sizing: border-box; 
}
.MainBlock {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: 
   "navbar mainPage"
   "navbar mainPage"
   ".      mainPage"
}
.mainPage {
  grid-area: mainPage;
}
.navbar {
  grid-area: navbar;
  color: var(--MainWhite);
  height: 100vh;
  position: absolute;
  background: var(--MainBlack);
}
.slider{
  grid-area: slider;
  height: 80vh;
  overflow: hidden;
}
.productList {
  grid-area: productList;
  
}
.text {
  font-family: 'Indie Flower', sans-serif;
}
.text-blue{
  color: #00008B;
}
.text:hover {
 color: red;
}
.text-blue:hover{
  color: aqua;
}
